*{
    margin:0;
    padding:0;
    /*border: 1px black solid;*/
    font-size: 16px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html, body{
    width:100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Scrollbars */

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4f9cbd; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7d9cbd;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Roboto&family=Sigmar+One&display=swap');

/*header*/

.header{
    position: fixed;
    background-color: snow;
    width: 100vw;
    box-shadow: 0px 5px 5px -5px black;
    z-index: 1;
}


.logoContainer {
     /* border: 1px solid black;  */
    float: left;
    text-align: center;
    margin: 0.2vw 1vw 0; 
    max-height: 100%;
}

#logo{
    text-decoration: none;
    font-size: 3vh;
    padding: 0;
}

nav{
    float: right;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    background-color: snow;
}

nav a {
    text-decoration: none;
    font-size: 5vh;
    font-weight: bolder;
    font-family: 'Roboto';
}

.btn {
    padding: 1vw 2vh;
    
}

.about-btn{
    color:  #AAE0CE;
 }

.btn:hover {
    transform: scaleX(1.02);
}
 
.btn:hover,
.buttonShadow{
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.25);
    
}

 .about-btn:hover {
    background-color:  #AAE0CE;
    color: white;
 }

.gallery-btn{
    color:  #7D9CBD;
    
 }

 .gallery-btn:hover {
    background-color:  #7D9CBD;
    color: white;
 }

.showreel-btn{
    color: #EDCEAD;
    
}

.showreel-btn:hover {
    background-color:  #EDCEAD;
    color: white;
 }

.contact-btn{
    color: #FFB7BE;
    margin-right: 1vw;
}

.contact-btn:hover {
    background-color:  #FFB7BE;
    color: white;
 }

/*main content*/

h1, #logo{
    font-family: 'Sigmar One', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: white;  /* Fallback: assume this color ON TOP of image */
    background: url("./Media/geoPastel.jpg") no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
}

h1{
    font-size: 4rem;
    padding: 2vw;
}

main{
    text-align: center;
    padding-top: 10vh;
    background-color: seashell;
}

.section{
    width: 100vw;
    height: 100vh;
    align-items: stretch;
}

.content{
    display: inline-flex;
    flex-direction: column;
    width: 80%;
    height: 70vh;
    justify-content: space-around;
    max-height: 70vh;
}

.title-down h1 {
    padding-top: 10vh;
}

/*home div*/

#home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;
}

.pageTitle {
    margin-right: 5vw;
}

.pageTitle h3 {
    font-size: 2rem;
}

.headshot{
    flex-grow: 2;
    margin: 0;
    padding: 0;
}

.headshot img{
    max-width: 50vw;
    height: auto;
    max-height: 60vh;
}

/*img div*/

#img1{
    background-image: url("./Media/Headshot.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

/*about div*/

#about{
    background-color: #AAE0CE;
}

.content p{
    margin: 0 auto;
    padding: 20px 0px;
    font-size: 3.5vh;
    overflow: auto;
}

/*gallery div*/

#gallery{
    background-color: #7D9CBD;
}

/*showreel div*/

#showreel{
    background-color: #EDCEAD;
    border: none;
}

.showreelContainer {
    height: 70vh;
    margin: auto;
    max-height: 100%;
}

#playShowreel {
    width: 80%;
    max-height: 90%;
}

/*contact div*/

#contact{
    background-color: #FFB7BE;
}

#contact h1 {
    padding-bottom: 5vh;
}

.contactContainer {
    width: 80%;
    height: 60%;
    margin: auto;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.contactDiv {
    width: 100%;
    padding: auto;
}

input,
textarea,
::placeholder {
    margin: 1vh;
    background-color: #ffe6e8;
    border: none;
    font-family: "Roboto" ;
    padding: 0.5vw;
    width: 70%;
}

@media screen and (max-width:1000px) {

    .pageTitle {
        margin-top: auto
    }

    .headshot img {
        max-width: 80%;
        height: 60%;
        width: auto;
    }

    nav a {
        font-size: 5vw;
    }

    .logoContainer {
        width: 100%;
        margin: 0;
    }

    #logo {
        font-size: 4vh;
    }

    #home {
        height: 90vh;
    }
    #playShowreel {
        margin-top: 20vh;
    }

    nav,.pageTitle h1 {
        display: none;
    }

    .pageTitle h3 {
        margin-bottom: 10vh;
        font-size: 5vh;
    }
}
/*Classes to add for folder style navbuttons*/

.navBtnHead {
    box-shadow: none;
    position: fixed;
    background-color: white;
    width: 100vw;
    z-index: 1;
}

.buttonShadow {
    box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.25);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

.aboutSect {
    background-color:#AAE0CE ;
    color: white;
}

.gallerySect {
    background-color: #7D9CBD ;
    color: white;
    
}

.showreelSect {
    background-color: #EDCEAD ;
    color: white;
}

.contactSect {
    background-color: #FFB7BE ;
    color: white;
}